.calculation-box {
  height: 75px;
  width: 150px;
  position: absolute;
  bottom: 40px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: center;
}

.p {
  font-size: 0.8rem;
}

.map-btn {
  padding: 1rem;
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  margin-left: 5px;
  font-weight: 700;
  color: black;
  background-color: aliceblue;
}

.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-attrib-button,
.mapboxgl-ctrl-icon,
.mapboxgl-compact {
  display: none;
}
